<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload an Image for Classification</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*">
            <input type="submit" value="Upload">
        </form>

        {% if percentages %}
            <img src="{{url_for('serve_file', file_name=file_name)}}" height="200">
            <div class="result-card">
                <h2>Prediction Results:</h2>
                <p>Pattern percentage: {{ percentages[0] }}</p>
                <p>Solid percentage: {{ percentages[1] }}</p>
                <p><strong>Prediction:</strong> {{ result }}</p>
            </div>
        {% endif %}
    </div>
</body>
</html>